<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029043609628-dkdvbbr4vreavl5u2s1a3sle5rh2be4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029043609628-dkdvbbr4vreavl5u2s1a3sle5rh2be4j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029043609628-j4r2cooiqv2oeo270mjfu792hbfa4242.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADdPJvI-RLFNcuwn7Yo6_giPIo5PLb6pw</string>
	<key>GCM_SENDER_ID</key>
	<string>1029043609628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetkcavusoglu.trakto</string>
	<key>PROJECT_ID</key>
	<string>subscription-auditor-75577</string>
	<key>STORAGE_BUCKET</key>
	<string>subscription-auditor-75577.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029043609628:ios:9fb1f85b98414b0fecbfd9</string>
</dict>
</plist>